---
// This is the frontmatter, where you can define page metadata
---
<html>
<head>
  <title>About</title>
</head>
<body>
  <h1>About Me</h1>
  <p>I am a passionate web developer.</p>
</body>
</html>