---
// This is the frontmatter, where you can define page metadata
---
<html>
<head>
  <title>About</title>
</head>
<body>
  <a href="/">首页</a>
  <a href="/about/">关于</a>
  <a href="/blog/">博客</a>

  <h1>About Me</h1>
  <p>I am a passionate web developer.</p>
</body>
</html>